//! **************************************************************************
// Written by: Map O.61xd on Thu Jan 07 22:37:59 2016
//! **************************************************************************

SCHEMATIC START;
PIN multiplier/blk00000003_pins<64> = BEL "multiplier/blk00000003" PINNAME
        CLK;
TIMEGRP clk = BEL "theta_1" BEL "theta_2" BEL "theta_3" BEL "theta_4" BEL
        "u_0" BEL "u_1" BEL "u_2" BEL "d_5" BEL "d_6" BEL "d_7" BEL "d_9" BEL
        "d_2" BEL "d_3" BEL "d_4" BEL "u_3" BEL "d_8" BEL "theta_0" BEL
        "clk_BUFGP/BUFG" PIN "multiplier/blk00000003_pins<64>";
TS_clk = PERIOD TIMEGRP "clk" 300 MHz HIGH 50%;
SCHEMATIC END;

